<div class="game" ng-cloak>
  <div class="game-title" ng-hide="gameCtrl.hideIntro" ng-click="gameCtrl.hideIntro = true">
    <div>{{gameCtrl.game.name}}</div>
    <a class="game-title-smsLink" ng-click="$event.stopPropagation();" ng-href="sms://&body=Game url: {{gameCtrl.urlPath + gameCtrl.game.name}}">text url to player 2</a>
    <div class="game-title-small">tap anywhere to enter game</div>
  </div>

  <div class="game-score game-score--flipped game-score--blue" hm-tap="gameCtrl.addScore(1, 'teamOne')" hm-pinch-out="gameCtrl.removeScore(1, 'teamOne')">
    {{gameCtrl.game.teamOne.score}}
  </div>

  <div class="game-score game-score--red" hm-tap="gameCtrl.addScore(1, 'teamTwo')" hm-pinch-out="gameCtrl.removeScore(1, 'teamTwo')">
    {{gameCtrl.game.teamTwo.score}}
  </div>
</div>
